<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube to mp4 downloader</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/user.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><strong>YouTube2MP4</strong></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation">
                        <a href="#"> </a>
                    </li>
                    <li role="presentation"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdgmRcJOY9UkUBj0NTbg1iemqSyl61qmamgQ1QVr1hZ-fWEuw/viewform?usp=sf_link">Feedback </a></li>
                   
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron hero">
    <h1 class="text-center" style="color: white;"><strong>YouTube to mp4 downloader</strong></h1>
    <h2 class="text-center" style="color: white;">Simple, fast and efficient YouTube downloader made with Python.</h2></div>
    <section class="testimonials"></section>
    <div class="container-fluid">
        <form action="/" method="Post">
        	<center>
            <input class="form-control" type="text" name="link" required="Enter a valid Link" placeholder="Enter Link here" style="max-width: 500px;"></center>
       
    </div>
    <center>

 <input class="btn btn-default" type="submit" name="submit" value="Submit" style="align-content: center; margin-top: 10px;" />
 </form>
    
	    
        </center><script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>